<%include ../partials/header%>
<header class="header-base">
  <div class="container">
    <h1>Dashboard</h1>
    <h2>Welcome Adminstrator</h2>
  </div>
</header>
<main>
  <section class="section-base">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="menu-inner menu-inner-vertical">
            <ul>
              <li class="active">
                <a href="/dashboard">Dashboard</a>

              </li>
              <li>
                <a href="/dashboard/messages">Messages</a>

              </li>
              <li>
                <a href="/dashboard/subscribers">Subscribers</a>

              </li>
              <li>
                <a href="/dashboard/register">Register</a>

              </li>

            </ul>
          </div>
        </div>

        <div class="col-lg-9">
          <h4><strong>Visitor Activities</strong></h4>
          <div class="row">
            <div class="col-lg-4">
              <div class="counter counter-vertical ">
                <div>
                  <h3 class="dark-txt">Dayly Visit</h3>
                  <div class="value">
                    <span class="text-md dark-txt" data-to="9999" data-speed="5000">9999</span>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="counter counter-vertical ">
                <div>
                  <h3 class="dark-txt">Weekly Visit</h3>
                  <div class="value">
                    <span class="text-md dark-txt" data-to="9999" data-speed="5000">9999</span>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="counter counter-vertical ">
                <div>
                  <h3 class="dark-txt">Total Visits</h3>
                  <div class="value">
                    <span class="text-md dark-txt" data-to="9999" data-speed="5000">9999</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="space-sm" />
          <h4><strong>User Engagment </strong></h4>
          <div class="row">
            <div class="col-lg-4">
              <div class="counter counter-horizontal">
                <h3 class="dark-txt">Total Messages</h3>
                <div class="value">
                  <span class="text-md dark-txt" data-to="9999" data-speed="5000">9999</span>

                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="counter counter-horizontal">
                <h3 class="dark-txt">Total Subscribers</h3>
                <div class="value">
                  <span class="text-md dark-txt" data-to="9999" data-speed="5000">9999</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <hr class="space-lg" />

    </div>
  </section>
  <script src="/../../themekit/scripts/progress.js"></script>
</main>

<%include ../partials/footer%>