<%include ../partials/header%>
<header class="header-base">
  <div class="container">
    <h1>Messages</h1>
    <h2>234 messages</h2>
  </div>
</header>
<main>
  <section class="section-base">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="menu-inner menu-inner-vertical">
            <ul>
              <li>
                <a href="/dashboard">Dashboard</a>

              </li>
              <li class="active">
                <a href="/dashboard/messages">Messages</a>

              </li>
              <li>
                <a href="/dashboard/subscribers">Subscribers</a>

              </li>
              <li>
                <a href="/dashboard/register">Register</a>

              </li>

            </ul>
          </div>
        </div>

        <div class="col-lg-9">
          <%messages.map(message=>{%>
          <div class="collapse-box" data-height="150">
            <h3><%=message.name%></h3>
            <small><%=message.email%></small>
            <div class="content" style="height: 10px; display: block;">
              <p>
                <%=message.message%>
              </p>
            </div>
            <div class="collapse-button">
              <%if(message.message && message.message.length>500){%>
              <a data-button-open-text="Close" data-button-close-text="Show all">Show all</a>
              <%}%>
            </div>
          </div>
          <%})%>
            </div>
          </div>
          <hr class="space-lg" />

        </div>
  </section>
  <script src="/../../themekit/scripts/progress.js"></script>
</main>

<%include ../partials/footer%>