<%include ../partials/header%>
<header class="header-base">
  <div class="container">
    <h1>Messages</h1>
    <h2>234 messages</h2>
  </div>
</header>
<main>
  <section class="section-base">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="menu-inner menu-inner-vertical">
            <ul>
              <li>
                <a href="/dashboard">Dashboard</a>

              </li>
              <li class="active">
                <a href="/dashboard/messages">Messages</a>

              </li>
              <li>
                <a href="/dashboard/subscribers">Subscribers</a>

              </li>
              <li>
                <a href="/dashboard/register">Register</a>

              </li>

            </ul>
          </div>
        </div>

        <div class="col-lg-9">
          <div class="collapse-box" data-height="150">
            <h3>Jhon Doe</h3>
            <small>jhon@gmai.com</small>
            <div class="content" style="height: 150px; display: block;">
              <p>
                Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem.
                Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et
                dolore magna aliqua.
                Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem.
                Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et
                dolore magna aliqua.
                Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
            </div>
            <div class="collapse-button">
              <a data-button-open-text="Close" data-button-close-text="Show all">Show all</a>
            </div>
          </div>
        </div>
      </div>
      <hr class="space-lg" />

    </div>
  </section>
  <script src="/../../themekit/scripts/progress.js"></script>
</main>

<%include ../partials/footer%>