<%include ../partials/header%>
<header class="header-base">
  <div class="container">
    <h1>Messages</h1>
    <h2>234 messages</h2>
  </div>
</header>
<main>
  <section class="section-base">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="menu-inner menu-inner-vertical">
            <ul>
              <li>
                <a href="/dashboard">Dashboard</a>

              </li>
              <li>
                <a href="/dashboard/messages">Messages</a>

              </li>
              <li>
                <a href="/dashboard/subscribers">Subscribers</a>

              </li>
              <li class="active">
                <a href="/dashboard/register">Register</a>

              </li>

            </ul>
          </div>
        </div>
        <div class="col-lg-9">
          <h2>Register a new Admin<span class="dot">.</span></h2>
          <hr class="space-sm">
          <form action="themekit/scripts/contact-form/contact-form.php" class="form-box form-ajax" method="post"
            data-email="example@domain.com">
            <div class="row">

              <div class="col-lg-6">
                <label for="name">Name</label>
                <input id="name" name="name" placeholder="" type="text" class="input-text" required="">
              </div>
              <div class="col-lg-6">
                <label for="email">Email</label>
                <input id="email" name="email" placeholder="" type="email" class="input-text" required="">

              </div>
              <div class="col-lg-6">
                <label for="email">Password</label>
                <input id="password" name="password" placeholder="" type="password" class="input-text" required="">
              </div>
            </div>

            <button class="btn btn-sm btn-circle" type="submit">Register</button>
            <div class="success-box">
              <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
            </div>
            <div class="error-box">
              <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
            </div>
          </form>
        </div>
        <hr class="space-lg" />

      </div>
  </section>
  <script src="/../../themekit/scripts/progress.js"></script>
</main>

<%include ../partials/footer%>