<%include ../partials/header%>
<header class="header-base">
  <div class="container">
    <h1>Messages</h1>
    <h2>234 messages</h2>
  </div>
</header>
<main>
  <section class="section-base">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="menu-inner menu-inner-vertical">
            <ul>
              <li>
                <a href="/dashboard">Dashboard</a>

              </li>
              <li>
                <a href="/dashboard/messages">Messages</a>

              </li>
              <li class="active">
                <a href="/dashboard/subscribers">Subscribers</a>

              </li>
              <li>
                <a href="/dashboard/register">Register</a>

              </li>

            </ul>
          </div>
        </div>

        <div class="col-lg-9">
          <h3>Subscribers</h3>
          <table class="table table-border table-full-sm">
            <thead>
              <tr>
                <th>Email</th>
                <th>Date</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Lorem ipsum</td>
                <td>Lorem ipsum</td>

              </tr>
              <tr>
                <td>Lorem ipsum</td>
                <td>Lorem ipsum</td>

              </tr>
              <tr>
                <td>Lorem ipsum</td>
                <td>Lorem ipsum</td>

              </tr>
              <tr>
                <td>Lorem ipsum</td>
                <td>Lorem ipsum</td>

              </tr>
              <tr>
                <td>Lorem ipsum</td>
                <td>Lorem ipsum</td>

              </tr>
            </tbody>
          </table>

        </div>
        <hr class="space-lg" />

      </div>
  </section>
  <script src="/../../themekit/scripts/progress.js"></script>
</main>

<%include ../partials/footer%>