<%include ./partials/header%>
<header class="header-image ken-burn-center align-center light boxed-page-header" data-parallax="true"
  data-natural-height="600" data-natural-width="1920" data-bleed="0" data-image-src="/media/feature-bg.jpg"
  data-offset="0">
  <div class="container">
    <h1>Ten Things Entrepreneurs Do Different.</h1>
    <h2>October 15, 2019</h2>
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li><a href="#">Pages</a></li>
      <li><a href="#">Blog</a></li>
    </ol>
  </div>
</header>
<main>
  <section class="section-base boxed-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-color">
          <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore
            magna aliqua.
            Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderito.
          </p>
          <p>
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet consectetur
            adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
            Utenim ad minim veniam quis nostrud exercitation ullamco laboris <b>nisi ut aliquip ex ea commodo</b>
            consequat. Duis aute irure dolor in reprehenderit
            in voluptate velit esse cillum dolore.
          </p>
          <p class="quote">
            It is better to lead from behind and to put others in front,
            especially when you celebrate victory when nice things occur.
            You take the front line when there is danger. Then people will appreciate your leadership.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore
            magna aliqua.
            Utenim ad minim veniam quis nostrud exercitation <b>ullamco</b> laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet consectetur
          </p>
          <hr class="space" />
          <div class="row">
            <div class="col-lg-8">
              <ul class="icon-list icon-list-horizontal icon-list-blog">

                <li>
                  <i class="icon-bookmark"></i>
                  <a href="/#features">Features</a>,
                  <a href="#">feature</a>
                </li>

              </ul>
            </div>
            <div class="col-lg-4 align-right align-left-md">
              <div class="list-nav">
                <a href="#"></a>
                <a class="list-archive" href="#"></a>
                <a href="#">Next feature</a>
              </div>
            </div>
          </div>
          <hr class="space" />


        </div>

      </div>
    </div>
  </section>
</main>
<%include ./partials/footer%>