<%include partials/header%>
<main>
    <section class="section-image section-full-width-right light section-bottom-layer"
        style="background-image:url(media/bg.svg)" id="overview">
        <div class="container">
            <hr class="space" />
            <div class="row">
                <div class="col-lg-6" data-anima="fade-in" data-time="1000">
                    <hr class="space" />
                    <h1>
                        Send moey with QR code
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboriso.
                    </p>
                    <a href="#" class="btn btn-sm btn-circle shadow-1 full-width-sm btn-icon "><i
                            class="im-android  light"></i>
                        Download Now</a><span class="space"></span>
                    <a href="https://www.youtube.com/watch?v=Lb4IcGF5iTQ" data-lightbox-anima="fade-top"
                        class="btn-text btn-video lightbox hidden-sm">View video</a>
                    <hr class="space" />
                </div>
                <div class="col-lg-6">
                    <img class="width-min-835" src="media/iso-1.png" alt="" />
                </div>
            </div>
        </div>
    </section>
    <section class="section-base" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 feature-center">
                    <h3>Features</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboriso.</p>
                </div>
                <div class="col-lg-9">
                    <div class="grid-list" data-columns="3" data-columns-md="2" data-columns-sm="1">
                        <div class="grid-box">
                            <div class="grid-item anima">
                                <div class="cnt-box cnt-box-top boxed">
                                    <a href="#" class="img-box"><img src="media/saas/icon-1.svg" alt="" style=""></a>
                                    <div class="caption">
                                        <h2>Send money with QR</h2>
                                        <p>
                                            Lorem ipsum dolor sitamet consectetur sed do eiusmod tempore.
                                        </p>
                                        <a class="btn-text" href="#">More details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item anima">
                                <div class="cnt-box cnt-box-top boxed">
                                    <a href="#" class="img-box"><img src="media/saas/icon-2.svg" alt="" style=""></a>
                                    <div class="caption">
                                        <h2>Buy Airtime</h2>
                                        <p>
                                            Lorem ipsum dolor sitamet consectetur sed do eiusmod tempore.
                                        </p>
                                        <a class="btn-text" href="#">More details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item anima">
                                <div class="cnt-box cnt-box-top boxed">
                                    <a href="#" class="img-box"><img src="media/saas/icon-3.svg" alt="" style=""></a>
                                    <div class="caption">
                                        <h2>Pay Ethio-Telecom Fees</h2>
                                        <p>
                                            Lorem ipsum dolor sitamet consectetur sed do eiusmod tempore.
                                        </p>
                                        <a class="btn-text" href="#">More details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item anima">
                                <div class="cnt-box cnt-box-top boxed">
                                    <a href="#" class="img-box"><img src="media/saas/icon-4.svg" alt="" style=""></a>
                                    <div class="caption">
                                        <h2>Pay School Fees</h2>
                                        <p>
                                            Lorem ipsum dolor sitamet consectetur sed do eiusmod tempore.
                                        </p>
                                        <a class="btn-text" href="#">More details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item anima">
                                <div class="cnt-box cnt-box-top boxed">
                                    <a href="#" class="img-box"><img src="media/saas/icon-3.svg" alt="" style=""></a>
                                    <div class="caption">
                                        <h2>Buy Airline E-Ticket</h2>
                                        <p>
                                            Lorem ipsum dolor sitamet consectetur sed do eiusmod tempore.
                                        </p>
                                        <a class="btn-text" href="#">More details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item anima">
                                <div class="cnt-box cnt-box-top boxed">
                                    <a href="#" class="img-box"><img src="media/saas/icon-4.svg" alt="" style=""></a>
                                    <div class="caption">
                                        <h2>Pay DSTV Fees</h2>
                                        <p>
                                            Lorem ipsum dolor sitamet consectetur sed do eiusmod tempore.
                                        </p>
                                        <a class="btn-text" href="#">More details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-base section-color   section-bottom-layer" id="wallets">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="media/testimonials.png" alt="" />
                </div>
                <div class="col-lg-6" data-anima="fade-right" data-time="1000">
                    <hr class="space" />
                    <h1>Wallets we currently support</h1>
                    <p>
                        Lorem ipsum dolor sit amet. no sea takimata sanctus est Lorem ipsum dolor sit amete.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco sea takimata sanctus
                        eslaboriso.
                    </p>
                    <a href="#" class="btn btn-circle btn-sm">Explore services</a>
                    <hr class="space hidden-md" />
                </div>
            </div>
        </div>
    </section>
    <section class="section-base" id="howto">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6" data-anima="fade-left" data-time="1000">
                    <img class="margin-23" src="media/phone-12.png" alt="" />
                </div>
                <div class="col-lg-6 col-md-6" data-anima="fade-right" data-time="1000">
                    <h2>Sending money<br /> Or making payment with QR</h2>
                    <p>
                        Lorem ipsum dolor sit ametno sea takimata sanctus est Lorem ipsum dolor sit amete.
                        Ut enim ad minim veniam.
                    </p>
                    <ul class="icon-list icon-circle">
                        <li>Lorem ipsum dolor sit ameteminim veniam amoartes.</li>
                        <li>Lorem exercitation ipsum dolor sittakimata amete magna doloros.</li>
                        <li>Aullamco ipsum dolor sit amete sanctus artes.</li>
                    </ul>
                </div>
            </div>
            <hr class="space-sm" />
            <hr class="space-sm visible-md" />
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6" data-anima="fade-left" data-time="1000">
                    <h2>Recieving Money<br />Or payment with Adulis-Pay</h2>
                    <p>
                        Lorem ipsum dolor sit ametno sea takimata sanctus est Lorem ipsum dolor sit amete.
                        Ut enim ad minim veniam.
                    </p>
                    <ul class="icon-list icon-circle">
                        <li>Lorem ipsum dolor sit ameteminim veniam amoartes.</li>
                        <li>Lorem exercitation ipsum dolor sittakimata amete magna doloros.</li>
                        <li>Aullamco ipsum dolor sit amete sanctus artes.</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6" data-anima="fade-right" data-time="1000">
                    <img class="margin-23" src="media/phone-13.png" alt="" />
                </div>
            </div>
        </div>
    </section>
    <section class="section-base section-color" id="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2>All your questsions are<br />very important to us and help us grow better.</h2>
                </div>
                <div class="col-lg-4">
                    <ul class="accordion-list">
                        <li>
                            <a href="#">In what countries is the app available?</a>
                            <div class="content">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor
                                    incididunt utlabore et dolore magna aliqua.
                                    Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                When the earnings will arrive?
                            </a>
                            <div class="content">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor
                                    incididunt utlabore et dolore magna aliqua.
                                    Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="#">Where can I contact the support team?</a>
                            <div class="content">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor
                                    incididunt utlabore et dolore magna aliqua.
                                    Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul class="accordion-list">
                        <li>
                            <a href="#">How does the summary dial work?</a>
                            <div class="content">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor
                                    incididunt utlabore et dolore magna aliqua.
                                    Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="#">Exporting my projects and restore?</a>
                            <div class="content">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor
                                    incididunt utlabore et dolore magna aliqua.
                                    Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="#">Can I get the money back for a refund?</a>
                            <div class="content">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor
                                    incididunt utlabore et dolore magna aliqua.
                                    Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section-base ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2>Let's get in touch<span class="dot">.</span></h2>
                    <hr class="space-sm">
                    <form action="themekit/scripts/contact-form/contact-form.php" class="form-box form-ajax"
                        method="post" data-email="example@domain.com">
                        <div class="row">
                            <div class="col-lg-6">
                                <p>Name</p>
                                <input id="name" name="name" placeholder="" type="text" class="input-text" required="">
                            </div>
                            <div class="col-lg-6">
                                <p>Email</p>
                                <input id="email" name="email" placeholder="" type="email" class="input-text"
                                    required="">
                            </div>
                        </div>
                        <p>Messagge</p>
                        <textarea id="messagge" name="messagge" class="input-textarea" placeholder=""
                            required=""></textarea>
                        <div class="form-checkbox">
                            <input type="checkbox" id="check" name="check" value="check" required="">
                            <label for="check">You accept the terms of service and the privacy policy</label>
                        </div>
                        <button class="btn btn-sm btn-circle btn-border" type="submit">Send messagge</button>
                        <div class="success-box">
                            <div class="alert alert-success">Congratulations. Your message has been sent
                                successfully</div>
                        </div>
                        <div class="error-box">
                            <div class="alert alert-warning">Error, please retry. Your message has not been sent
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <hr class="space visible-md">
                    <h2>Contacts<span class="dot">.</span></h2>
                    <p>
                        Help us making this product better. If you have any conserns, questsions or if you just
                        wanted t say Hi, don't hesitate to contact us!
                    </p>
                    <ul class="text-list text-list-bold">

                        <li><b>Email</b>
                            <p>info@domain.com</p>
                        </li>
                        <li><b>Facebook</b>
                            <p>example.name</p>
                        </li>
                        <li><b>Twitter</b>
                            <p>example.name</p>
                        </li>
                        <li><b>Telegram</b>
                            <p>example.name</p>
                        </li>
                    </ul>
                    <hr class="space space-40">
                    <div class="icon-links icon-social   social-colors">
                        <a class="facebook"><i class="icon-facebook"></i></a>
                        <a class="twitter"><i class="icon-twitter"></i></a>
                        <a class="instagram"><i class="icon-instagram"></i></a>
                        <a class="pinterest"><i class="icon-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="section-base section-color">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 order-md-last">
                    <form action="themekit/scripts/contact-form/contact-form.php" class="form-box form-ajax form-inline"
                        method="post" data-email="example@domain.com">
                        <div class="row">
                            <div class="col-lg-8">
                                <p>Type your email</p>
                                <input id="email" name="email" placeholder="" type="email" class="input-text" required>
                            </div>
                            <div class="col-lg-4">
                                <p></p>
                                <button class="btn btn-sm" type="submit">Subscribe</button>
                            </div>
                        </div>

                        <div class="success-box">
                            <div class="alert alert-success">Congratulations. Your message has been sent
                                successfully</div>
                        </div>
                        <div class="error-box">
                            <div class="alert alert-warning">Error, please retry. Your message has not been sent
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 order-md-first">
                    <h2>Subscribe now.</h2>
                    <hr class="space-xs" />
                    <p>Sare nostrud exercitation ullamco sea takiquis nostrud message bareteso exercitatio.</p>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    document.getElementById('main-nav').className = 'menu-classic menu-fixed menu-transparent menu-one-page align-right light'
</script>
<%include partials/footer%>