<div class="col-lg-3">
  <div class="menu-inner menu-inner-vertical">
    <ul>
      <li>
        <a href="/dashboard">Dashboard</a>

      </li>
      <li>
        <a href="/dashboard/messages">Messages</a>

      </li>
      <li>
        <a href="/dashboard/subscribers">Subscribers</a>

      </li>
      <li>
        <a href="/dashboard/register">Register</a>

      </li>

    </ul>
  </div>
</div>